.chatContainer {
    height: 90vh;
    display: grid;
    grid-template-rows: 50px 1fr 50px;
}

.upperPanel {
    display: grid;
    grid-template-columns: 50px 1fr 50px;
}

.messagesContainer {
    overflow: auto;
    display: flex;
    flex-direction: column-reverse;
    word-wrap: break-word;
}

.bottomPanel {
    display: grid;
    grid-template-columns: 1fr 50px;
}